{% extends 'base.html.twig' %}

{% block title 'Editer une option'%}

{% block body %}
    <div class="container mt-4">
        <h1>Editer l'option</h1>
        {{ include ('admin/option/_form.html.twig', {form: form, button: 'Editer'})  }}
    </div>

{% endblock %}